body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #fff;
}
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header > img {
    display: flex;
    margin-bottom: -110px;
    margin-left: 320px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav {
    display: flex;
    justify-content: center;
    background: #00000070;
    padding: 10px 0;
}
nav button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
nav button:hover {
    text-decoration: underline;
    background-color: black;
}
section {
    padding: 20px;
    margin: 10px;
    border-bottom: 1px solid #eee;
}


form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}
button {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background: #004494;
}

#projetos a {
    text-decoration: none;
}

#projetos a:hover {
    text-decoration: underline;
    background-color: black;
}